:root {
    --Purple-50: hsl(260, 100%, 95%);
    --Purple-300: hsl(264, 82%, 80%);
    --Purple-500: hsl(263, 55%, 52%);

    --White: hsl(0, 0%, 100%);
    --Grey-100: hsl(214, 17%, 92%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
}

/* Normalize */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    font-family: 'Barlow Semi Condensed';
    font-size: 13px;
    height: 100vh;
    background-color: var(--Grey-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 350px 350px;
    gap: 2rem;
}

.card {
    border-radius: 10px;
    padding: 2rem;

    box-shadow:
    0 2px 4px rgba(0,0,0,0.05),
    0 8px 16px rgba(0,0,0,0.06),
    0 20px 40px rgba(0,0,0,0.04);
}

.card h3 {
    font-size: 1.2rem;
}

.card img {
    border-radius: 100px;
}

.card-1 img {
    border: 3px solid var(--Purple-300);
}

.card-4 img {
    border: 3px solid var(--Purple-500);
}

.card-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    background-color: var(--Purple-500);
    color: var(--White);
}

.card-1 p {
    color: var(--Purple-50);
}

.card-2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    background-color: var(--Grey-500);
    color: var(--White);
}

.card-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    background-color: var(--White);
    color: var(--Grey-400);
}

.card-4 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;

    background-color: var(--Dark-blue);
    color: var(--Grey-200);
}

.card-4 p {
    color: var(--Grey-200);
}

.card-5 {
    grid-column: 4 / 5;
    grid-row: 1 / 3;

    background-color: var(--White);
    color: var(--Grey-400);
}

.card-3 h2,
.card-5 h2 {
    color: var(--Grey-500);
}

.card-3 p,
.card-5 p {
    color: var(--Grey-400);
}